{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col col-6">
        <form class="add-new" action="/brand" method="post">
            <label for="brand">Add new brand</label>
            <input id="brand" name="brand" type="text" required>
            <button type="submit" class="btn">Add new brand</button>
        </form>
        <h3>Brands:</h3>
        {% for brand in brands %}
        <div class="row">
            <div class="col col-10">
                <a href="/brand/{{ brand.getId() }}">{{ brand.getName() }}</a>
            </div>
        </div>
        {% endfor %}
        <a href="/brands/delete_all" role="button" class="btn btn-danger">Delete All Brands</a>
    </div>
    <div class="col col-6">
        <form class="add-new" action="/store" method="post">
            <label for="store">Add new store</label>
            <input id="store" name="store" type="text" required>
            <button type="submit" class="btn">Add new store</button>
        </form>
        <h3>Stores:</h3>
        {% for store in stores %}
        <div class="row">
            <div class="col col-8">
                <a href="/store/{{ store.getId() }}">{{ store.getName() }}</a>
            </div>
            <div class="col col-1">
                <a href="/store/ {{ store.getId() }}/edit"><img src="/../img/edit.png" alt="edit icon"></a>
            </div>
            <div class="col col-1">
                <form action="/store/{{ store.getId() }}" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit"><img src="/../img/delete.png" alt="delete icon"></button>
                </form>
            </div>
        </div>
        {% endfor %}
        <a href="/stores/delete_all" role="button" class="btn btn-danger">Delete All Stores</a>
    </div>
</div>
{% endblock %}
